<div>
  <img class="logo" height="150" width="150" src="/assets/logo.png" alt="">
  <div class="txtCenter">
    <h1>Connection</h1>
    <p>Veuillez SVP renseigner les champs de connexion.</p>
    <div class="formulaire">
      <input required placeholder="Email" type="text" />
      <input required placeholder="Mot de passe" type="password" />
    </div>
    <div>
      <button>

      </button>
    </div>
  </div>
  <div class="btnLeft" routerLink="/inscription">
    <label>Inscription</label>
  </div>
  <div class="btnRight" routerLink="/connexion">
    <label>Connexion</label>
  </div>
</div>
