.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.txtCenter {
  position: absolute;
  color: #fff;
  text-align: center;
  top: 200px;
  left: 100px;
  right: 100px;
}

/*Style du bouton*/
.btnLeft, .btnRight {
  width: 200px;
  height: 200px;
  line-height: 200px;
  border-radius: 50%;
  font-size: 30px;
  color: #000;
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
}

/*Position du bouton*/
.btnLeft {
  position: absolute;
  left: 150px;
  bottom: 100px;
}

.btnRight {
  position: absolute;
  right: 150px;
  bottom: 100px;
}

h1 {
  font-family: "Arial Black";
  font-weight: bold;
  font-size: 60px;
}

p {
  font-family: "Adobe Arabic";
  font-size: 30px;
}

input {
  border-color: white;
  height: 30px;
  width: 170px;
  margin: 10px;
  background-color: rgb(255, 255, 255, 0);
}

input::placeholder {
  color: white;
  text-align: center;
}

button {
  position:relative;
  background-image:url("/assets/button.png");
  border:none;
  width:25px;
  height:20px;
  color:white;
  background-repeat: no-repeat;
}
