<div>
  <img class="logo" height="150" width="150" src="/assets/logo.png" alt="">
  <div class="txtCenter">
    <h1>Inscription</h1>
    <p>Cher client, veuillez s'il vous plait renseigner les champs d'inscription.</p>
    <p>NB: Les champs obligatoires sont indiqués avec un astérisque (*).</p>
    <div class="formulaire">
      <input placeholder="Nom complet*" type="text" />
      <input placeholder="Email*" type="email" />
      <input placeholder="Mot de passe*" type="password" />
      <input placeholder="Confirmation de mot de passe*" type="password" />
    </div>
    <div>
      <button>

      </button>
    </div>
  </div>
  <div class="btnLeft">
    <label>1/2</label>
  </div>
  <div class="btnRight" routerLink="/connexion">
    <label>Connexion</label>
  </div>
</div>
