/* You can add global styles to this file, and also import other style files */
body {
  height: 100%;
  background-image: url("./assets/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

