.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

  /*background-size: 100%;*/
  /*background: #fff;*/
  /*-moz-border-radius: 80px;*/
  /*-webkit-border-radius: 80px;*/
  /*border-radius: 80px;*/
}

.txtCenter {
  color: #fff;
  text-align: center;
  vertical-align: text-bottom;
  margin-top: 200px;
}

/*Style du bouton*/
.btnLeft, .btnRight {
  width: 200px;
  height: 200px;
  line-height: 200px;
  border-radius: 50%;
  font-size: 30px;
  color: #000;
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
}

/*Position du bouton*/
.btnLeft {
  position: absolute;
  left: 150px;
  bottom: 100px;
}

.btnRight {
  position: absolute;
  right: 150px;
  bottom: 100px;
}

h1 {
  font-family: "Arial Black";
  font-weight: bold;
  font-size: 100px;
}

p {
  font-family: "Adobe Arabic";
  font-size: 70px;
  margin: -80px;
}
