<div>
  <img class="logo" height="150" width="150" src="/assets/logo.png" alt="">
  <div class="txtCenter">
    <h1>eeyaa</h1>
    <p>Entrez dans l'ère du participatif</p>
  </div>
  <div class="btnLeft" routerLink="/inscription">
    <label>Inscription</label>
  </div>
  <div class="btnRight" routerLink="/connexion">
    <label>Connexion</label>
  </div>
</div>
